body { 
    font-family: Arial, sans-serif; 
    background: #987575; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  } 
   
  .container { 
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  } 
   
  input, select, button { 
    padding: 8px; 
    margin: 5px; 
  } 
   
  li { 
    margin-top: 10px; 
    padding: 10px; 
    border-radius: 4px; 
    list-style: none; 
  } 
   
  .high { 
    background-color: #9ace66; 
  } 
   
  .normal { 
    background-color: #ccffcc; 
  } 
   
 